<md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center" style="height: 100%">
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Administration - Login</span>
                </md-card-title-text>
            </md-card-title>
            <form name="userForm" target="_self" method="POST" action="login">
                <div layout="column" style="padding: 0 30px">
                    <md-input-container>
                        <label>User</label>
                        <input name="user" ng-model="userText">
                    </md-input-container>
                    <md-input-container>
                        <label>Password</label>
                        <input type="password" name="password" ng-model="passwortText">
                    </md-input-container>
                </div>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button type="submit" ng-disabled="(!userText || !userText.length) || (!passwortText || !passwortText.length)">Login</md-button>
                </md-card-actions>
            </form>
        </md-card>
    </div>
</md-content>